<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset=utf-8>

    <link rel="stylesheet" href="/static/src/bubble.css"></link>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/src/custom-tooltip.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <title>News Feed d3.js</title>
    <body>
      <article>
        <div class="top">
          <h1><a href="#news" class="category" value="news">Trending News</a><br>
            <small>
                <p>
                    <a href="#ask" class="category" value="ask"> <button class="btn btn-small btn-primary" type="button">Newest</button></a>
                    <a href="#best" class="category" value="best"> <button class="btn btn-small btn-primary" type="button">Best</button></a>
                    <a href="#newest" class="category" value="newest"> <button class="btn btn-small btn-primary" type="button">Tech</button></a>

                </p>

            </small>
          </h1>
        </div>
      </article>

    <script src="/static/src/vishna_txt.js"></script>
    </body>
</head>
</html>
