<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset=utf-8>

    <!--<link rel="stylesheet" href="/static/news/news_visual.css"></link>-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"></link>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


    <title>Circle in d3.js</title>
    <body>
    <article>
        <div class="top">
            <h1><a href="#news" class="category" value="news">Trending News</a><br>
            </h1></div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <h1>In The News</h1>
                    <h4><ol>
                        <li><p class="text-error">{{key1}}</li>
                        <li>{{key2}}</li>
                        <li>{{key3}}</li>
                        <li>{{key4}}</li>
                        <li>{{key5}}</li>

                    </ol></h4>

                    <p class="text-success">CNN Presents.</p>

                </div>
                <div class="span9">
                    <h1>News</h1>
                </div>
            </div>
        </div>
        <p>
            <button class="btn btn-small btn-primary" type="button">Advanced</button>

        </p>


    </article>



    </body>
</head>
</html>
